form
	{
    padding: 35px;
    width:350px;
    margin:30px auto;
    border: 1px solid black;
    background-color: white;
    }
label
	{
    font-size: 20px;
    margin:10px auto;
    font-weight: bold;

    }
input
    {
    width:280px;
    padding: 8px;
    font-size:16px;
    margin-left: 10px;
    }
button
    {
    color: white;
    background-color: darkblue;
    }
body
{
    text-align: right;
    padding: 40px;
}
