{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

        <div style="margin-top: 40px; text-align: center;">
            {% if msg %}
                    <div class="alert alert-warning">
                        {{ msg }}
                    </div>
            {% endif %}
        </div>

        </br>
        <h1 style="text-align: center; font-size: 40px; font-family:'Arial Black'; padding: 50px; color: blue">Welcome to My Quora </h1>
    <div style="width: 900px;">
    <a style="margin-left: 400px; " class="btn btn-info" href="{% url 'all_question' %}" role="button">All Questions</a> |
    <a class="btn btn-info" href="{% url 'create_ques' %}" role="button">Create Questions</a>
    </div>
    <div>
        {% if user.is_authenticated %}
    <a style="margin-left: 470px; margin-top: 20px;" class="btn btn-info" href="{% url 'my_question' %}" role="button">My Questions</a>
    {% endif %}
    </div>
{% endblock %}