{% extends 'base.html' %}
<head>
    {% block title %}All Questions{% endblock %}
</head>



{% block content %}
        <h1 style="text-align: center; font-size: 40px; font-family:'Arial Black'; padding: 50px; color: blue">My Questions </h1>
<table class="table table-bordered">
<thead>
    <tr>
        <th scope="col">Sr. No.:</th>
        <th scope="col">Question:</th>
        <th scope="col">Answers</th>
    </tr>
</thead>

    <tbody>
    {% for s in ques %}
    <tr>
        <td>{{ s.question_id }}</td>
        <td>{{ s.question }} </br>
            Created On - {{ s.created_date }}</td>
        <td>{{ s.answersCount }}</td>
    {% endfor %}
    </tr>
    </tbody>
</table>

{% endblock %}