{% extends 'base.html' %}
<head>
    {% block title %}Answer{% endblock %}
</head>

{% block content %}
    <form method="post" action="{% url 'update' %}" style="width: 300px; margin-top: 100px;" >
    {% csrf_token %}
        {{ msg }}
        <div class="form-group">
            <input name="q_id" type="hidden" value="{{ form.question_id }}"/>
        <label>Answer :</label>
            <input type="text" class="form-control"  value={{ form.answer }}>
        <label>Answer Description:</label>
            <input type="text" class="form-control"  value={{ form.answer_desc }}>
            <label>Code Block Description :</label>
            <input type="text" class="form-control"  value={{ form.code_fld }}>
        <button style="margin-top: 20px;" class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>

{% endblock%}